<!DOCTYPE html>
<html>

<head>
    <title>Login Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Login Successful</h1>
        <div class="alert alert-success mt-4" role="alert">
            You have successfully registerd.
            <a href="/api/auth/v1/logout">Logout</a>
        </div>
    </div>
</body>

</html>